html{
    text-align:center;
    font-family: 'Roboto', sans-serif;
}

.parent{
    width:100%;
    display:flex;
    justify-content:center;
}

button{
    cursor:pointer;
    border:white 1px solid;
    background-color:white;
}

.container {
    width:50%;
    display:flex;
    flex-wrap:wrap;
    font-size:50px;
}

.tile {
    width:23%;
    padding:5%;
    cursor:pointer;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}